# URL du site Faktur
FAKTUR_URL=https://dash.fakturapp.cc

# Titre de l'application
APP_TITLE=Faktur App

# Dimensions de la fenêtre principale
WINDOW_WIDTH=1280
WINDOW_HEIGHT=800

# Dimensions de la fenêtre de téléchargement
DOWNLOAD_WINDOW_WIDTH=420
DOWNLOAD_WINDOW_HEIGHT=220
